include ./inc/html-head.jade
body(class="recipe")
	include ./inc/header.jade
	section(class="main-body")
		div(class="wrapper")
			include ./inc/recipe-side.jade
			article(class="recipe-main")
				div(class="recipe-main-top")
					h1(class="recipe-title") #{items.name}
					span(class="recipe-rating-short")
						strong Rating
						| : #{items.rating}/5
					span(class="recipe-favorites")
						strong Favorites
						| : #{items.favorites}
					a(href="" class="recipe-favorite-button") Favorite
					span(class="recipe-cuisine")
						strong Cuisine
						| : #{items.cuisineType}
					span(class="recipe-difficulty")
						strong Difficulty
						| : #{items.difficulty}
					p(class="recipe-description") #{items.description}
					span(class="recipe-prep-time")
						strong Prep Time
						| : #{items.prepTime}
					span(class="recipe-cook-time")
						strong Cook Time
						| : #{items.cookTime}
				div(class="recipe-tab-bar")
					a(href="#" data-tab="tools" class="recipe-tab-link")
						i(class="fa fa-wrench")
					a(href="#" data-tab="ingredients" class="recipe-tab-link")
						i(class="fa fa-leaf")
					a(href="#" data-tab="steps" class="recipe-tab-link")
						i(class="fa fa-tasks")
					a(href="#" data-tab="pictures" class="recipe-tab-link")
						i(class="fa fa-photo")
					a(href="#" data-tab="comments" class="recipe-tab-link")
						i(class="fa fa-comments")
				div(class="recipe-section" data-section="tools")
					h3(class="recipe-section-header") Tools List
					ul(class="recipe-section-list")
						each item in items.toolsList
							li(class="recipe-section-list-item") #{item}
				div(class="recipe-section" data-section="ingredients")
					h3(class="recipe-section-header") Ingredients List
					ul(class="recipe-section-list")
						each item in items.ingredientList
							li(class="recipe-section-list-item") #{item}
				div(class="recipe-section" data-section="steps")
					h3(class="recipe-section-header") Steps List
					ul(class="recipe-section-list")
						each item in items.stepsList
							li(class="recipe-section-list-item") #{item}
				div(class="recipe-section" data-section="pictures")
					h3(class="recipe-section-header") Pictures
					ul(class="recipe-section-list")
						//- each item in items.picturesList
						//- 	li(class="recipe-section-list-item") #{item}
				div(class="recipe-section" data-section="comments")
					h3(class="recipe-section-header") Comments
					ul(class="recipe-section-list")
						//- each item in comments.textcontent
						//- 	li(class="recipe-section-list-item") #{item}
	include ./inc/footer.jade